html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
  gap: 1rem 1rem;
  grid-template-areas:
    "Firstpage Secondpage Thirdpage Forthpage Fifthpage"
    "code1 code2 code3 code4 code5"
    "code6 code7 code8 code9 code10"
    "code11 code12 code13 code14 code15"
    "code16 code17 code18 code19 code20";
}

.code1 { grid-area: code1; }

.code2 { grid-area: code2; }

.code3 { grid-area: code3;}

.code4 { grid-area: code4; }

.code5 { grid-area: code5; }

.code6 { grid-area: code6; }

.code7 { grid-area: code7; }

.code8 { grid-area: code8; }

.code9 { grid-area: code9; }

.code10 { grid-area: code10; }

.code11 { grid-area: code11; }

.code12 { grid-area: code12; }

.code13 { grid-area: code13; }

.code14 { grid-area: code14; }

.code15 { grid-area: code15; }

.code16 { grid-area: code16; }

.code17 { grid-area: code17; }

.code18 { grid-area: code18; }

.code19 { grid-area: code19; }

.code20 { grid-area: code20; }

.Firstpage { grid-area: Firstpage; }

.Secondpage { grid-area: Secondpage; }

.Thirdpage { grid-area: Thirdpage; }

.Forthpage { grid-area: Forthpage; }

.Fifthpage { grid-area: Fifthpage; }




/* For presentation only, no need to copy the code below */
.grid-container * {
  border: 1px solid red;
  position: relative;
}

.grid-container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
}


:root {
	--pixel: 13rem;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html {
	height: 100%;
}
body {
	background: rgb(202, 202, 202);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.card {
	width: var(--pixel);
	height: var(--pixel);
	margin: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	cursor: pointer;
	transition: all 0.4s;
}
.card:hover,
.card:active {
	color: white;
}
.card::before,
.card::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ebebd3;
	z-index: -1;
	border-radius: 10px;
	transition: all 0.4s;
}
.card::after {
	background: #fa5d8a;
	transform-origin: right bottom;
	transform: translate(10%, 10%) scale(0.3);
	border-radius: 50%;
}
.card:hover::after,
.card:active::after {
	transform: translate(0) scale(1);
	border-radius: 10px;
	border-bottom-right-radius: 40px;
	box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
		rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
		rgba(240, 46, 170, 0.05) 25px 25px;
}
.card:hover::before,
.card:active::before {
	transform-origin: right bottom;
	transform: translate(10%, 10%) scale(0.3);
	border-radius: 50%;
	z-index: 1;
}
